---
layout: page
title: Divine Mercy Novena
---
<script type="text/javascript">
prayers = {{ site.data.prayers | jsonify }};
</script>

<div class="row align-self-center">
  <div id="day-number" class="col bg-info text-white"></div>
  <div id="intention-type" class="col bg-info text-white"></div>
</div>


<div>
&nbsp;
</div>

<ol id="toc" class="nav nav-pills nav-fill d-flex flex-wrap" role="tablist">
  {% for item in site.data.prayers.novena %}
  <li class="nav-item">
    <a class="nav-link day{{ forloop.index0 }}" href="#day{{ forloop.index0 }}" data-toggle="pill">{{ item.name }}</a>
  </li>
  {% endfor %}
</ol>

<div class="tab-content" role="tabpanel">
  {% for day in site.data.prayers.novena %}
<div class="mysteries tab-pane" id="day{{ forloop.index0 }}">
  <h2>{{ day.name }}</h2>
  <blockquote class="blockquote intention">{{ day.intention | markdownify | smartify }}</blockquote>
  <div class="prayer">{{ day.prayer | markdownify | smartify }}</div>
</div>
{% endfor %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js" integrity="sha256-1hjUhpc44NwiNg8OwMu2QzJXhD8kcj+sJA3aCQZoUjg=" crossorigin="anonymous"></script>
<script src="src/moment.easter.js"></script>
<script src="src/index.js"></script>
