---
layout: page
---
<script type="text/javascript">
mysteries = {{ site.data.mysteries | jsonify }};
</script>

<div class="row align-self-center">
  <div id="day-number" class="col bg-info text-white"></div>
  <div id="mysteries" class="col bg-info text-white"></div>
  <div id="intention-type" class="col bg-info text-white"></div>
</div>


<div>
&nbsp;
</div>

<ol id="toc" class="nav nav-pills nav-fill" role="tablist">
  {% for item in site.data.mysteries %}
  {% assign category = item[0] %}
  <li class="nav-item">
    <a class="nav-link {{ item[0] }}" href="#{{item[0]}}" data-toggle="pill">{{ category }}</a>
  </li>
  {% endfor %}
</ol>

<div class="tab-content" role="tabpanel">
{% for item in site.data.mysteries %}
{% assign category = item[0] %}
{% assign mysteries = item[1] %}
<div class="mysteries {{category}} tab-pane" id="{{category}}">
  <h2>{{category}}</h2>
  <ol class="mysteries">
    {% for mystery in mysteries %}
    <li>
      <div class="name">{{ mystery.name }}</div>
      <div class="fruit">{{ mystery.fruit }}</div>
      <div class="reflection">{{ mystery.reflection | markdownify | smartify }}</div>
    </li>
    {% endfor %}
  </ol>
</div>
{% endfor %}

<div id="closing-prayer">
  <h2>Closing Prayer</h2>

  <!-- TODO Add a macro for this iteration? -->
  <ol id="closing-toc" class="nav nav-pills nav-fill" role="tablist">
    {% for item in site.data.closing_prayer %}
    {% assign phase = item[0] %}
    {% assign value = item[1] %}
    {% for item in value %}
    {% assign arity = item[0] %}
    {% assign prayer = item[1] %}
    <li class="nav-item {{ phase }} {{arity}}">
      <a class="nav-link {{ phase }} {{arity}}" href="#{{ phase }}-{{ arity }}" data-toggle="pill">{{ arity }}</a>
    </li>
    {% endfor %}
    {% endfor %}
  </ol>

  <div class="tab-content">
    {% for item in site.data.closing_prayer %}
    {% assign phase = item[0] %}
    {% assign value = item[1] %}

    {% for item in value %}
    {% assign arity = item[0] %}
    {% assign prayer = item[1] %}
    <div class="{{phase}} {{arity}} tab-pane" id="{{ phase }}-{{ arity }}" role="tabpanel">
      <h4>{{ phase }} ({{arity}})</h4>
      <p>{{ prayer }}</p>
    </div>
    {% endfor %}
    {% endfor %}
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js" integrity="sha256-1hjUhpc44NwiNg8OwMu2QzJXhD8kcj+sJA3aCQZoUjg=" crossorigin="anonymous"></script>
<script src="src/index.js"></script>
