.mysteries h2,
#closing-prayer h4,
#toc li,
#closing-toc li,
#intention-type,
#mysteries {
  text-transform: capitalize;
}

ol.mysteries li .name {
  font-weight: bold;
  text-transform: capitalize;
}
ol.mysteries li .name:before {
  content: "The ";
}


ol.mysteries li .fruit {
  font-style: italic;
}
ol.mysteries li .fruit:before {
  content: "Fruit of the Mystery: ";
}

blockquote.intention {
  font-weight: bold;
}

blockquote :last-child {
  margin-bottom: 0;
}

.footer {
    width: 100%;
    background-color: #f5f5f5;
    padding: 1em;
}

.footer :last-child {
  margin-bottom: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-flow: column;
}

body > .container-fluid {
  flex-grow: 1;
}
